#per-account, #club-account{
	box-shadow: 6px 3px 6px 0px #c6c7c8;
    border-left: 0px;
    color: #55555b;
    background-color: white !important;
    border-left: 10px solid white !important;
    color: #6d6d6d;
}

.main .main-content .diary-area .diary-body::-webkit-scrollbar {
   display:none;
}

.content-left {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top; 
}

.content-right {
  width: 49%;
  height: 100%;
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  padding: 20px;
}

.content-right form {
  margin-bottom: 15px;
}

.content-right .form-group {
  margin-bottom: 20px;
}

.content-right .form-group label {
  font-weight: bold;
}

.content-right .form-control {
  width: 100%;
}

.content-right button[type="submit"] {
    width: 90px;
    height: 45px;
    color: white;
    border-radius: 10px;
    background-color: #6d6d6d;
    position: relative;
    left: 200px;
    top: 15px;
}



