/* 콘텐츠 안에 들어갈 것*/

/* 왼쪽 */
.content-left {
    width: 59%;
    height: 90%;
    display: flex;
    margin-top: 10px;
    background-color: #333333;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}


/* 오른쪽 */
.content-right {
    width: 40%;
    height: 108%;
    display: flex;
    margin-top: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

/*공지사항*/
.announcement {
  width: 100%;
  height: 21%;
}

.announcement table {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
}

.announcement td {
  border: 1px solid black;
}
.announcement td:hover {
  border: 1px solid #ffffff;
}

.announcement tr:hover {
  background-color: black;
  color:#ffffff;
}

.announcement .title {
  width: 75%;
}

/*달력*/
.calendar {
  width: 100%;
  height: 58%;
  margin-top:	28px;
  background-color:white;
}