/* 콘텐츠 안에 들어갈 것*/

.content-left {
    width: 55%;
    height: 90%;
    display: inline-block;
    margin-top: 10px;
  }
  
  .content-right {
    width: 32%;
    height: 80%;
    display: inline-block;
    margin-top: 9%;
    float: right;
    box-sizing: border-box;
  }
  
  
  /*공지사항*/
  .announcement{
    width: 100%;
    height: 40%;
  }
  
  .announcement table{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
  }
  .announcement td{
    border: 1px solid black;
  }
  
  .announcement .title{
    width: 80%;
  }
  /*달력*/
  .calendar{
    width: 100%;
    height: 58%;
    margin-top: 12px;
    background-color: aqua;
  }