*{margin: 0; padding: 0; list-style: none; font-family: 'Pretendard-Regular', sans-serif;} 

.main .main-content {
    height: 100%;
    width: 100%;
}

.main .main-content .diary-area {
    height: 810px;
    width: 100%;
    padding: 0px;
    float: left;
    box-shadow: none;
    border-radius: 27px;
    background-color: white !important;
}

.main .main-content .diary-area .diary-body {
	height: 640px;
	overflow-y: initial;
	margin: 0px
}

.brand{
    padding: 20px;
    background-size: cover;
    background-position:  center center;
    color: #fff;
    min-height: 820px;
    width: 666px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
   	transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999;
}

.brand .active{
    width: 100%;
}
.brand::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0);
    z-index: -1;
}
.brand a.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1em;
}

.brand a.logo span {
    font-size: 30px;
    color: #ddd;
    transform: translateX(5px);
    display: inline-block;
}

.brand .heading {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.6s;
}
.brand .heading.active {
    top: 100px;
    left: 100px;
    transform: translate(0);
}

.brand .heading h2 {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
}

.brand .heading p {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: 4px;
}

.brand .success-msg{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 60px;
}

.brand .success-msg p {
    font-size: 25px;
    font-weight: 400;
}

.brand .success-msg a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 30px;
    background: #f95959;
    color: #fff;
    border-radius: 30px;
}

.brand .success-msg p, .brand .success-msg a{
    transition:  all 0.9;
    transform:  translateY(20px);
    opacity: 0;
}

.brand .success-msg p.active, .brand .success-msg a.active {
    transform: translateY(0);
    opacity: 1;
}

.form{
    position: relative;
}

.form .form-peice {
    background: #fff;
    min-height: 785px;
    margin-top: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #bbb;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    bottom: 18px;
    left: 500px;
    width: 120%;
}

.form .form-peice.switched {
    transform: translateX(-100%);
    width: 100%;
    left: 661px;
}


.form form {
    padding:0 40px;
    margin: 0;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform:  translate(-50%, -50%);
}


.form form .form-group{
    margin-left: 20px;
 
    position: relative;
}

.form form  .heightG{
	height: 60px;
	transform: translateY(-17px);
}



.form form .idForm{
    transform: translateY(-30px);
    display: flex;
}
 
.form form .idForm label{

    width: 10px;
}
.form form .idForm .id{
    transform: translate(20px ,20px);
    width: 50%;
    gap: 10px;
}
.form form .idForm .error{
	transform: translate(-72px,20px);
	
}


.form form .form-group #btnIdCheck{
    width: 80px;
    height: 25px;
    border:none;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #1eafcc;
    transform: translate(40px ,40px);
    font-size: 13px;
}

.form form .interP {
    height: 50px;
}

.form form .interP> label{
    transform: translateY(10px);
}
.form form .interP li label{
	 transform: translateY(0px);
	 cursor: pointer;
}


.form form .form-group .inter{
    font-size: 12px;
    display: flex;
    width: 80%;
    height: 30px;
    flex-wrap: wrap;
    margin-left: 70px;
    transform: translateY(-10px);
}

.form form .form-group .inter input[type=radio]{
	width: 14px;
	
}
 
.form form .form-group .inter li{
    display: flex;
    gap:15px;
    height: 15px;
}

.form form .form-group .inter li label{
    display: flex;
    width: 80px;
}

.form form .cateForm{
    transform: translateY(-25px);
}

.form form .cateForm>label{
	transform: translateY(20px);
}


.form form .form-group .category{
    font-size: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 70px;
}
.form form .form-group .category li{
	display:flex;
    width: 80px;
    height: 20px;
}

.form form .form-group .category input[type=radio] {
	width: 15px;
}

.form form .form-group .category label{
	transform: translateY(0px);
    width: 80px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.form form .tagForm{
    transform: translateY(-50px);
}

.form form .form-group .tag{
	
    width: 90%;
    height:100px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 68px;
    overflow-y: scroll;
    overflow-x: hidden;
    position:relative;
    color: #222;
}

 .tag .tags {

    position:absolute;
    width: 1px;
    height: 1px;
    padding:0;
    margin: -1px;
    font-size: 10px;
    overflow:hidden;
    border:none;
    background: transparent;     
}

.tag .tagLabel{
	transform: translateY(4px);
	display:block;
	text-align:center;
	width:70px;
	height:20px;
	font-size:11px;
	font-weight:200;
	border-radius:5px;
	padding:2px;
	background-color: #1eafcc;
}

.tag .tags:checked+.tagLabel{
	background-color:#1eafcc;
	color:#fff;
}

 #selTag {
	margin-top:-30px;
}

#selectedTag{
	transform: translateY(15px);
	margin-left: 45px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	width: 373px;
	height: 30px;
	overflow-y: scroll;
	position:relative;
	color:#1eafcc;
}

.form form .tagForm .tagSearch{
    transform: translate(120px,-15px);
    display: flex;
    gap: 30px;
    width: 80%;
}
.form form .tagForm .tagSearch input{ 
    width: 50%;
}
.form form .tagForm .tagSearch .search{
    transform: translateY(10px);
    font-size: 12px;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    background-color: #222;
    color: #fff;
}



.form form .form-group.hasError input {
    border-color: #222 !important;
}
.form form .form-group.hasError label {
    border-color: #222 !important;
}

.form form label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(37px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
}

/*.form form label.active:not(.tagLabel) {
    transform: translateY(10px);
    font-size: 10px;
}     */

.form form label.fontSwitch {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
}

.form form input:not([type=submit]){
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 15px;
    z-index: 1;
}

.form form .paddingG input{
	padding-left: 80px;
	
}



.form form input:not([type=submit]).hasError {
    border-color: #000;
    
}

.login .paddingG input {
	padding-left: 50px;
	
}

.form form span.error{
    color: #222;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
    display: none;
}


.form form input[type=password] {
     color: #000;
}

.form form .CTA{
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.form form .ctaLogin {
	transform: translateY(35px);
	
}


.form form .ctaJoin {
	transform: translateY(-35px);
	
}


.form form .CTA input {
	width: 140px;
	height: 39px;
	background: #1eafcc;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
}

.form form .CTA a.switch {
   font-size: 14px;
   font-weight: 400;
   color: #6b6b6b;
   width: 100px;
   height:28px;
   text-decoration: none;
   transition: all 0.3s;
}

.form form .CTA a.switch:hover {
    color: #444;
}





@media (max-width: 768px) {
    .container {
        overflow: hidden;
    }

    section#formHolder {
        padding: 0;
    }
    section#formHolder div.brand {
        min-height: 200px !important;
    }
    section#formHolder div.brand.active {
        min-height: 100vh !important;
    }
    section#formHolder div.brand .heading.active {
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section#formHolder div.brand .success-msg p {
        font-size: 16px;
    }
    section#formHolder div.brand .success-msg a {
        padding: 5px 30px;
        font-size: 10px;
    }
    section#formHolder .form {
        width: 80vw;
        min-height: 500px;
        margin-left: 10vw;
    }
    section#formHolder .form .form-peice {
        margin: 0;
        top: 0;
        left: 0;
        width: 100% !important;
        transition: all 0.5s ease-in-out;
    }
    section#formHolder .form .form-peice.switched {
        transform: translateY(-100%);
        width: 100%;
        left: 0;
    }
    section#formHolder .form .form-peice > form {
        width: 100% !important;
        padding: 60px;
        left: 50%;
    }
}
@media (max-width: 480px) {
    section#formHolder .form {
        width: 100vw;
        margin-left: 0;
    }

    h2 {
        font-size: 50px !important;
    }
 }
 
 
