@charset "UTF-8";

.main .main-content .diary-area .diary-topbar{
	width: 100%;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid black;
    position: relative;
}
.main .main-content .diary-area .diary-topbar-img{
	width: 90px;
	height: 90px;
	border-radius: 70%;
	display: inline;
	margin-right: 10px;
	border: 3px solid #d3d2d2;
}
#groupautoupload{
	width: 70px;
    height: 40px;
    background-color:#ff6969;
    font-size: 15px;
    color:#fff;
    border: 1px solid #ff6969;
    border-radius: 7px;
    margin-left: 41%;
    margin-bottom: 10px;
}
.noticewrite{
	float: right;
	width: 90px;
	height: 45px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px;
}
.edittop{
	margin-left: 30px;
}
.content-right{
	width: 350px;
    margin-left: 64.5%;
    margin-top: 4%;
    position: relative;
}
.content-left {
	width: 650px;
	position: absolute;
	margin-left: 30px;
}
.modal-body input{
	border: 1px solid gray;
}
/* 모달창 */
#general{
	position: absolute;
	top: -40%;
	left: 40%;
	margin: 0;
	padding: 0;
}
#generalW{
	position: absolute;
	top: -40%;
	left: 40%;
	margin: 0;
	padding: 0;
}
#group{
	position: absolute;
	top: -40%;
	left: 40%;
	margin: 0;
	padding: 0;
	height: 1000px;
}
.modal-open .modal {
	overflow-y:hidden;
}
/* 모달창 끝 */

#dataTable{
	width: 350px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	margin-bottom: 20px;
}
.nglist{
	width: 350px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
}
.ngname{
	width: 350px;
	padding-left: 10px;
}
.payvotebody{
	margin-top: 20px;
}
.groupvotetitle{
	font-weight: bold;
	font-size: 15px;
	padding-right: 10px;
}
.profileimg{
	width: 80px;
	height: 80px;
	border-radius: 50px;
}
.noticeprofil{
	margin-left: 40px;
}
.userp{
	margin-left: 90px;
	margin-top: -20px;
}
.username{
	font-weight: bold;
	font-size: 30px;
	padding-left: 10px;
}
#dataTableV{
	width: 350px;
	background-color: #fff;
	border: 1px solid #000;
	margin-bottom: 20px;
	margin-left: 30px;
}
#content_body{
	margin-left: 30px;
}
/* 공지리스트 */
.list-item {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  height: 60px;
}
.list_table{
	width:99%;
}
/* 공지리스트 끝 */

/* 버튼 */
.listbtn{
	float: right;
	width: 90px;
	height: 45px;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #1eafcc;
	color: #1eafcc;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
	margin-top: 45px;
}

.nextbtn{
	float: right;
	width: 90px;
	height: 45px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-top: 45px;
}

.modelbtnR{
	width: 90px;
	height: 45px;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #1eafcc;
	color: #1eafcc;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}

.modelbtnS{
	width: 90px;
	height: 45px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}

.btnbox{
	float: right;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px;
}

.modify{
	float: right;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #1eafcc;
	color: #1eafcc;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px;
}

.delete{
	float: right;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
}

/* 버튼 끝 */

/* 모달 헤더 색 */
.modal-header{
background-color: rgb(231, 231, 231);
}

.noticetitle1{
	width: 580px;
}

.add-reply{
	float: right;
	width: 60px;
	height: 40px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin-top: 15px;
}

#noticewrite{
	float: right;
	width: 90px;
	height: 40px;
	border-radius: 10px;
	background-color: #1eafcc;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}

.selectbox{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 100px;
}

.noticetitle{
    width: 500px;
    height: 70px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 30px;
}

.meetYear{
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.meetMon{
    width: 50px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.meetName{
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.votetitle{
    width: 300px;
    margin-left: 10px;
    height: 30px;
    margin-bottom: 10px;
}
.plusbtn{
    border: none;
    background: none;
    font-weight: bold;
    margin-bottom: 10px;
}
.plusbtn1{
    border: none;
    background: none;
    font-weight: bold;
    margin-bottom: 10px;
}
.voteleft{
    margin-left: 50px;
}
.votespan{
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.votemin{
    width: 50px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.voteend{
    width: 200px;
    height: 30px;
    margin-left: 5px;
}
.grouptitle{
    width: 370px;
    height: 50px;
     background-color: rgb(231, 231, 231);
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
}
.trborder{
	border-top: solid;
	border-top-color: gray;
	border-bottom: solid;
	border-bottom-color: gray;
	height: 30px;
}
.modal-body{
    background-color: rgb(231, 231, 231);
    padding-left: 30px;
}

#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 300px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: none;
}
.write-comment-btn{
	float: right;
	width: 70px;
	height: 30px;
	background-color: #000;
	color:#fff;
	margin-right: -90px;
	margin-top: -35px;
	border: 1px solid #fff;
	border-radius: 10px;
}
.changeimg{
	width: 30px;
	height: 30px;
	margin-top: 0px;
}
.diary-topbar-img1111{
	width: 40px;
	height: 40px;
	margin-top: 0px;
	border-radius: 50px;
}
.diary-topbar-img111{
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-left: 30px;
	border-radius: 50px;
}
.diary-topbar-img11{
	width: 40px;
	height: 40px;
	margin-top: -50px;
	margin-left: 30px;
	border-radius: 50px;
}
.subcontent{
	width: 100%;
	height: 500px;
	margin-top: 35px;
}
.subcontent1{
	width: 100%;
	height: 260px;
	margin-top: 35px;
}
.modalvotetitle{
	width: 435px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	border: 1px solid gray;
	padding-left: 20px;
}
.price{
	border: 1px solid #ff6969; 
	width: 250px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
	padding-left: 10px;
}
#paybtn{
	width: 70px;
    height: 40px;
    background-color:#000;
    font-size: 15px;
    color:#fff;
    border: 1px solid #000;
    border-radius: 7px;
    margin-left: 41%;
    margin-bottom: 10px;
}
.paycount{
	font-weight: bold;
    font-size: 20px;
    float : right;
    padding-right: 20px;
    margin-bottom: 20px;
}
#result1{
	font-size: 17px;
	font-weight: bold;
}
#result2{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

#result{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

#dataTable2{
	margin-bottom: 20px;
}

#map{
	width:100%;
	height:500px;
}

.mapview{
	width: 55%;
	float: right;
	margin-left: 20px;
}

.ms-auto{
	margin-left: auto;
}

/* 라디오버튼 */
input[type='radio'] {
appearance: none;
background-color: #2f2f2f;
width: 15px;
height: 15px;
border-radius: 50%;
opacity: 30%;
}

input[type='radio']:checked  {
appearance: none;
background-color: #1eafcc;
width: 15px;
height: 15px;
border-radius: 50%;
opacity: 30%;
opacity: 1;
}

.editname{
font-size: 20px;
font-weight: bold;
text-align: center;
padding-right: 100px;
}

#Count{
	float: right;
	padding-right: 10px;
}

/* 지도api */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
#club-notice{	border-left: 10px solid white !important;
	background-color: white !important; color: gray;
    box-shadow: 6px 3px 6px 0px #48484847;
	}