.container1, .container2, .container3, .container6{
  margin:0;
  padding:0;
  box-sizing: border-box;
  height: 200%;
}
.container2, .container6{
	display: none;
}
.container1 .loca-btn-area{
	display: none;
}

.container1 p , .container2 p, .container3 p,  .container6 p{
  margin-top:10px;
}
.container1 .modal-btn-box{
  width:100%;
  text-align:center;
}
.container1 input{
	height: 30px;
}
.container1 .popup-wrap {
  z-index: 1;
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*
  */
  display:none;
  padding:15px;
  position: fixed;
  z-index: 9999; /* 모달의 z-index를 설정하여 달력 위로 올리기 */
}
.container1 .popup{
  width: 550px;
  min-height: 530px;
  min-width: 550px;
  min-height: 530px;
  background-color:#ffffff;
  border-radius:3px;
  overflow:hidden;
  background-color:#000000;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
.container1 .popup-head{
  width:100%;
  height:30px;
  color: white;
  font-size: 21px;
}
.container1 .popup-close-btn, .container2 .popup-close-btn2, .container6 .popup-close-btn3{
  float: right;
  text-align: center;
  margin-right: 5px;
  width:30px;
}
.container1 .head-title {
    font-size: 20px;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}
.container1 .popup-body{
  width:100%;
  background-color:#ffffff;
}
.container1 .body-content{
  width:100%;
  height: 506px;
  padding:30px;
}
.container1 .body-titlebox{
  width:100%;
  height:10%;
  margin-bottom:10px;
  border-bottom: 2px solid black;
}
.container1 .body-contentbox{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:400px;
}
.container1 #schedule-table{
  width: 98%;
  margin: 0 auto;
}
.container1 #schedule-table tr{
  height : 35px;
}
.container1 #schedule-table tr, #schedule-table td{
  padding-left: 2%;
  border:0.5px solid rgb(44, 44, 44);
}

.container1 #schedule-table th{
  text-align: center;
  background-color: #f8f8f8;
  width:20%;
}
.container1 .content-area textarea{
  padding-left: 0%;
  width:100%;
  height: 170px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  padding-top: 2%;
}
.container1 #schedule-table .content-area{
  height:170px;
}
.container1 .map-btn{
  background-color: #000000;
  color: white;
  margin-left: 10px;
  width:60px;
  height: 25px;
  font-size: 13px;
}
.container1 .sche-submit-btn{
  margin: 0 auto ;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  min-width: 144px;
}
.container1 .sche-submit-btn button{
  margin-top: 23px;
  height: 30px;
  width: 70px;
}
.container1 .sche-submit-btn button:nth-child(1){
  background-color: #000000;
  color: white;
}
.container1 .sche-submit-btn button:nth-child(2){
  background-color: white;
  border: 1px solid black;
}
.container1 #place-result {
	
border: none;
 pointer-events: none;
	
}


/*2th popup*/

.container2 .popup {
  width: 550px;
  height: 550px;
  min-width: 550px;
  min-height: 500px;
  border-radius:3px;
  overflow:hidden;
  background-color:#000000;
  position: fixed;
  left: 50%;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
}


.container2 .popup-wrap2,  .container6 .popup-wrap2  {
/*   z-index: 2;
 */  
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:15px;
  position: fixed;
  z-index: 9999; /* 모달의 z-index를 설정하여 달력 위로 올리기 */
}

.container2 .popup-head, .container6 .popup-head{
  width:100%;
  height:30px;
  color: white;
  font-size: 21px;
}
.container2 .popup-body , .container6 .popup-body {
	background-color: white;
}

.container2 .body-content , .container6 .body-content {
  width:100%;
  height: 500px;
  padding:30px;
}


/*개인일정용 팝업*/
.container4 .per-pop {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    width: 500px;
    height: 532px;
  }
.per-pop  .per-pop-header{
    background-color: black;
    height: 30px;
    width:100%;
  }
.per-pop .per-pop-close-btn{
    float: right;
    text-align: center;
    margin-right: 1px;
    width: 30px;
    color:white;
    font-size: 20px;
  }
.per-pop .per-pop-content{
  width: 100%;
    height: 530px;
    padding: 30px;
  }
.per-pop .body-titlebox{
    width: 100%;
    height: 9%;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
  }
.per-pop #schedule-table{
    width: 98% !important;
    margin: 0 auto;
    height: 78%;
    
  }
.per-pop #map2{
    width: 341px;
    height: 156px;
    padding: 0;
    position: absolute;
    bottom: 53px;
    left: 121px;
} 
 
.per-pop #schedule-table th{
  width: 20%;
  text-align: center;
  background-color: #f8f8f8;
  }
.per-pop #schedule-table td:nth-child(1), .per-pop #schedule-table td:nth-child(2) , .per-pop #schedule-table td:nth-child(3){
  padding: 1% ;
}
.per-pop #schedule-table td input[type="date"] {
  width: 115px;
}
.per-pop  #schedule-table .see-place{
  height: 24px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 13px;
  float: right;
}
.per-pop  #schedule-table .content{
  padding-left: 0%;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    padding-top: 2%;
}
.per-pop  #schedule-table .content  td ,th, tr {
    border: 1px solid black;
  }
.per-pop  #schedule-table textarea[name="content"] {
	width: 100%;
    height: 109px;
    resize: none;
    outline: none;
    position: relative;
    top: -74px;
  }
.per-pop .per-sche-edit{
    margin: 0 auto;
    margin: 3%;
    text-align: center;
    margin-bottom: 20%;
}
.per-pop .per-sche-edit button{
  font-size: 13px;
  width: 55px;
  height: 25px;

}
.per-pop .per-sche-edit button:nth-child(1){
  background-color: black;
  color: white;
}
.per-pop .per-sche-edit button:nth-child(2){
  background-color: white;
  border: 1px solid black;
  color: black;
}


.container4{
  z-index: 1;
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*
  */
  display:none;
  padding:15px;
  position: fixed;
  z-index: 9999; /* 모달의 z-index를 설정하여 달력 위로 올리기 */
}
.popup-close-btn, .popup-close-btn2, .per-pop-close-btn, .popup-close-btn3, .popup-close-btn4 {
	cursor: pointer;
}

.de-end, .de-start{
  resize: none;
  outline: none;
}


/*수정창 css*/

.container5{
  margin:0;
  padding:0;
  box-sizing: border-box;
  height: 200%;
}

.container5 p {
  margin-top:10px;
}
.container5 .modal-btn-box{
  width:100%;
  text-align:center;
}
.container5 input{
	height: 30px;
}
.container5 .popup-wrap {
  z-index: 1;
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding:15px;
  position: fixed;
  z-index: 9999; /* 모달의 z-index를 설정하여 달력 위로 올리기 */
}
.container5 .popup{
  width: 550px;
  min-width: 550px;
  min-height: 530px;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  background-color: #000000;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
  /* 팝업을 화면 중앙에 위치시키기 위한 스타일 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container5 .popup-head{
  width:100%;
  height:30px;
  color: white;
  font-size: 21px;
}
.container5 .popup-close-btn, .container2 .popup-close-btn2, .popup-close-btn4{
  float: right;
  text-align: center;
  margin-right: 5px;
  width:30px;
}
.container5 .head-title {
    font-size: 20px;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}
.container5 .popup-body{
  width:100%;
  background-color:#ffffff;
}
.container5 .body-content{
  width:100%;
  height: 570px;
  padding:30px;
}
.container5 .body-titlebox{
  width:100%;
  height:10%;
  margin-bottom:10px;
  border-bottom: 2px solid black;
}
.container5 .body-contentbox{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:400px;
}
.container5 #schedule-table{
  width: 98%;
  margin: 0 auto;
}
.container5 #schedule-table tr{
  height : 35px;
}
.container5 #schedule-table tr, #schedule-table td{
  padding-left: 2%;
  border:0.5px solid rgb(44, 44, 44);
}

.container5 #schedule-table th{
  text-align: center;
  background-color: #f8f8f8;
  width:20%;
}
.container5 .content-area textarea{
  padding-left: 0%;
  width:100%;
  height: 170px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  padding-top: 2%;
}
.container5 #schedule-table .content-area{
  height:170px;
}
.container5 .map-btn{
  background-color: #000000;
  color: white;
  margin-left: 10px;
  width:60px;
  height: 25px;
  font-size: 13px;
}
.container5 .sche-submit-btn{
  margin: 0 auto ;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  min-width: 144px;
}
.container5 .sche-submit-btn button{
  margin-top: 23px;
  height: 30px;
  width: 70px;
}
.container5 .sche-submit-btn button:nth-child(1){
  background-color: #000000;
  color: white;
}
.container5 .sche-submit-btn button:nth-child(2){
  background-color: white;
  border: 1px solid black;
  margin-left: 4px;
}
.container5 #edit-place-result {
	
border: none;
 pointer-events: none;
	
}
.container5 .popup-close-btn3{
  float: right;
  text-align: center;
  margin-right: 5px;
  width:30px;
}

.container6 .popup {
  z-index: 99999999;
  width: 550px;
  height: 550px;
  min-width: 550px;
  min-height: 500px;
  border-radius:3px;
  overflow:hidden;
  background-color:#000000;
  position: fixed;
  left: 50%;
  top: 40px;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
}

